<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-title>Movie / TV Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-item class="menu-list">
        <ion-button fill="clear" size="medium">Home</ion-button>
      </ion-item>
      <ion-item class="menu-list">
        <ion-button fill="clear" size="medium" (click)="open_popular_movies()">Movie: Popular</ion-button>
      </ion-item>
      <ion-item class="menu-list">
        <ion-button fill="clear" size="medium">Movie: Top Rated</ion-button>
      </ion-item>
      <ion-item class="menu-list">
        <ion-button fill="clear" size="medium">TV-Series: Popular</ion-button>
      </ion-item>
      <ion-item class="menu-list">
        <ion-button fill="clear" size="medium">TV-Series: Top Rated</ion-button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  
  <ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button slot="start"></ion-menu-button>
      </ion-buttons>
      <ion-title>Home</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-item>
      <ion-input placeholder="Search Movie or TV" [clearInput]="true" value="jumanji"></ion-input>
      <ion-button>
        <ion-icon name="search-sharp"></ion-icon>
      </ion-button>
    </ion-item>

    <ion-card *ngFor="let x of movie">
      
      <img [src]="movie_poster + '/w400' + x.poster_path"/>
      
      <ion-card-header>
        <ion-card-title class="movie_title">{{x.title}}</ion-card-title>
        <div class="hr"></div>
        <ion-card-subtitle class="movie_desc">{{x.overview}}</ion-card-subtitle>
        <div class="hr"></div>
        <ion-card-subtitle class="movie_info">Release date: {{x.release_date | date: 'd/M/y'}}</ion-card-subtitle>
        <ion-card-subtitle class="movie_info">Movie Rating: {{x.vote_average}}/10</ion-card-subtitle>
      </ion-card-header>

    </ion-card>

  </ion-content>

</div>